@page "/productslist"
<h3 class="display-4 text-center">Lista de Productos</h3>
<hr>
@if (products == null)
{
    <p class="text-muted"><em>Loading...</em></p>
}

else
{
    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
                <th>Rubro</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.CategoryName</td>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>$@product.SellingPrice</td>
                </tr>
            }
        </tbody>
    </table>
    
}


